*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin: 0;
}
.navbar-nav{
    margin-right: 20%;
}
.profile img{
    width: 70%;
    object-fit: contain;
}
.custom-heading{
    padding: 30px;
}
.custom-heading h2{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 70px;
    font-weight: 700;
}